<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!--CSS Path File-->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<!--Minified Version For Bootstrap CSS-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--Font From Google Fonts API-->
		<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|VT323" rel="stylesheet">
		<!--Icons From Font Awesome-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Favicon from Favicon.cc-->
		<link href="./assets/images/burger-favicon.ico" rel="icon" type="image/x-icon" />
	<title>Eat Da Burger</title>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
