<div class="container">
	<h1 class="welcomeM closedRegi">Welcome To Eat-Da-Burger Joint!</h1>
	
		<h2 class="askOrder goodEat">Order Up! Ready to Serve.</h2>
		
		<div id="burgerDecal">

			<img class="burgerImg" src="./assets/images/awesome-burger-wrapper.jpg">

		</div>	

	<div class="closedRegi">
		<ol>
			{{#each burgers}}
				{{#unless devoured}}
					<li class="mealT">
						{{burger_name}}

						<form action="/{{id}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="true">
							<button type="submit" class="btn-success"><i class="fa fa-money" aria-hidden="true"></i> Diggin In!</button>
						</form>

					{{> burgers/delete-burgers}}	
					</li>
				{{/unless}}	
			{{/each}}
		</ol>
	</div>

	<div class="closedRegi">
		<h2 class="askOrder">Burgers Devoured So Far:</h2>
		<ol>
			{{#each burgers}}
				{{#if devoured}}
					<li class="mealT">
						{{burger_name}}

						<form action="/{{id}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="false">
							<button type="submit" class="btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> Re-Order</button>
						</form>

					{{> burgers/delete-burgers}}	
					</li>
				{{/if}}
			{{/each}}	
		</ol>
	</div>

	<div class="closedRegi">
		<h2 class="askOrder">Order A New Burger</h2>

		<form class="create-update-form" action="/" method="POST">
			

			<div class="form-group">
				<label for="menu" class="mealT">Cook A New Burger</label>
				<input type="text" id="menu" name="burger_name">
			</div>

			<button type="submit" class="btn-danger mealT"><i class="fa fa-bell" aria-hidden="true"></i> Ready To Order</button>
		</form>
	</div>	
</div>	