* {
	box-sizing: border-box;
}

body {
	background-image: url("/assets/images/food.png");
}

.closedRegi {
	border: black dashed 2px;
}

.goodEat {
	border: black solid 2px;
}

.burgerImg {
	width: 250px;
	height: 250px;
	margin-left: 450px;
	border-radius: 80px;
}

.welcomeM {
	font-family: 'VT323', monospace;
	text-align: center;
}

.askOrder {
	font-family: 'VT323', monospace;
	text-align: center;
}

.mealT {
	font-family: 'Architects Daughter', cursive;
	margin-left: 350px;
}

