<form action="/{{id}}?_method=DELETE" method="POST">
  <input type="hidden" name="id" value="{{id}}">
  <span><button type="submit" class="btn-info"><i class="fa fa-envira" aria-hidden="true"></i> Trash It</button></span>
</form>