<form action="/{{ID}}?_method=DELETE" method="POST">
  <input type="hidden" name="ID" value="{{ID}}">
  <span><button type="submit" class="btn-info"><i class="fa fa-envira" aria-hidden="true"></i> Trash It</button></span>
</form>